@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #082f49;
}

.access-granted {
  color: green;
}

.access-denied {
  color: red;
}

.markdown-bot {
  color: white;
}

.markdown-bot h1,
.markdown-bot h2,
.markdown-bot h3,
.markdown-bot h4,
.markdown-bot h5,
.markdown-bot h6 {
  color: white;
}

.markdown-bot strong {
  color: white;
}

.markdown-bot em {
  color: white;
}

.markdown-bot table {
  @apply min-w-full divide-y divide-gray-200;
}

.markdown-bot th,
.markdown-bot td {
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}

.markdown-bot th {
  @apply bg-gray-50;
}
